.table th,
.table td {
  width: 350px;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
img {
  width: 1.5cm;
  height: 2cm;
}
img[alt] {
  display: inline-block;
  width: 1.5cm;
  height: 2cm;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}
.delete-button:hover,
.cancel-button:hover {
  cursor: pointer;
}

.delete-button:hover {
  color: red;
}
.cancel-button:hover {
  color: #007bff;
}
